
<h3><%= @user.name %>
<font size = "2">
<% if user_signed_in? %>
  <% if !@user.followed_by?(current_user)%>
    <%= link_to("Follow", :action => :follow, :following => @user)%>
  <% end %>

  <% if @user.followed_by?(current_user)%>
    <%= link_to("Unfollow", :action => :unfollow, :unfollowing => @user)%>
  <% end %>
<% end %>

</font>

</h3>
